.chartContainer{
  width:100%;
  /*height:300px;*/
  height:300px;
}

body{
  background-color: #cde5df;
  margin:0;
  padding:0;
  border-color: #668B8B;
  border-radius:5px;
  border-width: 5px;
  border-style:solid;
}

canvas{
  width:100%;
  height:100%;
  margin:auto;
}
